<!-- Page to add items. Uses header and footer partials -->

<% include ../partials/header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card">
      <div class="card-body">
        <form action="/orders/add2/backorder/<%= txnID %>" method="POST" class="col s12">
          <div class="form-group row">
            <div class="col-10">
              <h3>Create Backorder</h3>
            </div>

            <div class="col-10">
              <label for="txnID" class="col-10 col-form-label">Original Order Number</label>
              <input type="text" class="col-8 form-control" name="txnID" value="<%= txnID %>" readonly>

              <input type="hidden" name="siteID" value="<%= items[0].siteIDFrom %>">

              <br><br>
            </div>

            <div class="col-10">
              <label for="itemsToOrder" class="col-10 col-form-label">Items to Backorder</label>
              <% if (items.itemID !== null) { %>
              <ul class="col-10 list-group" name="itemsToReerder">
                <% for(var i = 0; i < items.length; i++) { %>

                <% for (var j = 0; j < backOrderItemIDs.length; j++) { %>

                <% if(backOrderItemIDs[j] == items[i].itemID) { %>

                <li class="list-group-item">
                  <%= items[i].name %>
                  <input type="hidden" name="itemID[]" value=" <%= items[i].itemID %>">
                </li>
                <span class="alert alert-dark">Quantity: <%= items[i].quantity %></span>
                <input type="hidden" name="itemQuantity[]" value=" <%= items[i].quantity %>">

                <% } %>


                <% } %>

                <% } %>



              </ul>

              <% } %>

              <br>

            </div>

            <div class="col-10">
              <label for="orderType" class="col-10 col-form-label">Order Type</label>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="emergencyOrder" value="false" checked>
                <label class="form-check-label" for="emergencyOrder">
                  Standard Order
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="emergencyOrder" value="true">
                <label class="form-check-label" for="emergencyOrder">
                  Emergency Order
                </label>
              </div>
              <br>
            </div>



            <div class="col-12">
              <div class="row">
                <button class="btn btn-primary">Complete</button>

                <button class="btn btn-danger" name="cancelButton"><a href="/orders"
                    class="btn btn-danger">Cancel</a></button>
              </div>

            </div>


          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>