<!-- Page to edit employees. Uses header and footer partials -->


<% include ../partials/header %>
<div class="container mt-5">
        <div class="row">
          <div class="col-md-5 offset-md-3 card">
            <div class="card-body">
              <form action="/admin/emp/update/<%= item[0].employeeID %>" method="POST" class= "col s12">
                
                <div class="form-group row">
                    <input type="hidden" name="employeeID" value="<%= item[0].employeeID %>">
                        <div class="col-10">
                            <label for="FirstName" class="col-10 col-form-label">First Name</label>
                            <input type="text" name="FirstName" value="<%= item[0].FirstName %>"  class="form-control" maxlength="20" required autofocus>
                        </div>
                        <div class="col-10">
                                <label for="LastName" class="col-10 col-form-label">Last Name</label>
                                <input type="text" name="LastName" value="<%= item[0].LastName %>"  class="form-control" maxlength="20" required >
                            </div>
                        <div class="col-10">
                            <label for="Email" class="col-10 col-form-label">Email</label>
                            <input type="email" name="Email" value="<%= item[0].Email %>" placeholder="@bullseye.ca" class="form-control" maxlength="100" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Must be a valid email such as emp@bullseye.ca">
                        </div>
                        <div class="col-10">
                            <label for="PositionID" class="col-10 col-form-label">Position</label>
                            <select name="PositionID" class="col-10 form-control" required>
                                    <% for(var i = 0; i < item2.length; i++) { %>
                                        <option value="<%= item2[i].positionID %>"><%= item2[i].permissionLevel %></option>
                                        <% } %>
                              </select>
                        </div>
                        <div class="col-10">
                                <label for="siteID" class="col-10 col-form-label">Site</label>
                                <select name="siteID" class="col-10 form-control" required>
                                        <% for(var i = 1; i < item3.length; i++) { %>
                                            <option value="<%= item3[i].siteID %>"><%= item3[i].name %></option>
                                            <% } %>
                                  </select>
                            </div>
                        <div class="col-10">
                            <label for="Password" class="col-10 col-form-label">Password</label>
                            <input type="text" name="Password" value="<%= item[0].Password %>"  class="form-control" maxlength="32" required >
                        </div>
                        <div class="col-10">
                            <label for="active" class="col-10 col-form-label">Active</label>
                            <select name="active" class="col-10 form-control" required>
                                <option value="1" selected>Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                </div>

      

                <div class="row">
 
                        <button type="submit" class="btn btn-primary">
                          Submit Employee
                        </button> 
        
                        <button class="btn btn-danger"><a href="/admin/emp" class="btn btn-danger">Cancel</a></button> 
                    </div>
              </form>
            </div>
          </div>
        </div>
      </div>

<% include ../partials/footer %>