<!-- Page to add items. Uses header and footer partials -->

<% include ../partials/header %>

<script src='/js/groupOrders.js' ></script>

<% console.log(deliveryID) %>

<div class="container">
        <div class="row">
          <div class="card">
            <div class="card-body">
              <form action="/delivery/groupNext3" method="POST" class= "col-12">
                
                <div class="form-group row">
                        <div class="col-12">
                          <h3>Group Orders - Delivery Info</h3>
                </div>

                  <% for(var i = 0; i < txnIDs.length; i++) { %>

                  <p><input type='hidden' name="txnIDs[]" class="form-control" value='<%=txnIDs[i]%>' readonly></p> 

                  <% } %>

               <div class="col-12">

                  <h5>Delivery Weight</h5>

                  <p><input type='text' name="deliveryWeight" class="form-control" value='<%=deliveryWeight%>' readonly></p>                       
                        
               </div>

               <div class="col-12">

               <h5>Delivery Distance</h5>

               <p><input type='text' name="deliveryDistance" class="form-control" value='<%=deliveryDistance%>' readonly></p>                       
                     
            </div>

               <div class="col-12">

                  <h5>Viehicle type</h5>

                  <p><input type='text' name="vehicle" class="form-control" value='<%=vehicle%>' readonly></p> 
                        
               </div>

               <div class="col-12">

                  <h5>Total Cost by KM</h5>

                  <p><input type='text' name="totalCost" class="form-control" value='<%=totalCost%>' readonly></p> 
                        
               </div>
                

                <div class="row">
 
        
                        <button class="btn btn-danger"><a href="/delivery" class="btn btn-danger">Return</a></button> 
                    </div>
              </form>
            </div>
          </div>
        </div>
      </div>

<% include ../partials/footer %>