<% include ../partials/header %>

<div class="">
    <div class="col s12">
        <a href="/admin/invt/add" class="btn btn-success btn-lg">Add a new Inventory Entry</a>
    </div>
</div>
<br>

<div class="">
    <div class="col s12">
        <% if (items.length > 0) { %>
            <table class="table">
                <thread>
                    <tr>
                        <th style="text-align: center;">Item ID</th>
                        <th>Site</th>
                        <th>Quantity</th>
                        <th>Item Location</th>
                        <th>Reorder Threshold</th>
                        <th>Max Reorder Warning</th>
                        <th solspan="2" style="width: 20%; text-align: center;">Actions</th>
                    </tr>
                </thread>
                <tbody>
                    <% for(var i = 0; i < items.length; i++) { %>
                    <tr>
                        <td style="width: 1%; text-align: center;"><%= items[i].itemID %></td>
                        <td><%= items[i].siteID %></td>
                        <td><%= items[i].quantity %></td>
                        <td><%= items[i].itemLocation %></td>
                        <td><%= items[i].reorderThreshold %></td>
                        <td><%= items[i].maxReorderWarning %></td>
                        <td solspan="2" style="width: 20%; text-align: center;">
                        <a href="/admin/invt/update/<%= items[i].itemID %>" class="btn btn-success">Edit</a>
                        <a href="/admin/invt/delete/<%= items[i].itemID %>" class="btn btn-danger">Delete</a>
                    </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>

            <%} else { %>
            <p><strong>There are no records available.</strong></p>
            <% } %>
    </div>
</div>

<% include ../partials/footer %>