<!-- Index page for sites. Uses header and footer partials -->

<% include ../partials/header %>

<div class="row">

  <% include ../partials/menuDashboard %>
  <div class="col-sm-9 col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Orders</h3>
      </div>
      <div class="panel-body">

        <div class="">
          <div class="col s12">
            <% if(userInfo.PositionID <= 3 || userInfo.PositionID === 99999999) { %>
              <a href="/orders/add" class="btn btn-success btn-lg">Add a new Order</a>
            <% } else if ( userInfo.PositionID === 4) { %>
              <a href="/tools" class="btn btn-success btn-lg">Add a new Supplier Order</a>
              <% } %>

          </div>
        </div>
        <br>

        <div class="">
          <div class="col s12">
            <% if (items.length > 0) { %>
            <table class="table">
              <thread>
                <tr>
                  <th style="text-align: center;">ID</th>
                  <th>Site To</th>
                  <th>Site From</th>
                  <th>Status</th>
                  <th>Ship Date</th>
                  <th>Type</th>
                  <th>Bar Code</th>
                  <th>Created Date</th>
                  <th>Delivery ID</th>
                  <th>Emergency Delivery</th>
                  <% if(userInfo.PositionID <= 4 || userInfo.PositionID === 99999999) { %>
                  <th solspan="2" style="width: 20%; text-align: center;">Actions</th>
                  <% } %>
                </tr>
              </thread>
              <tbody>
                <% for(var i = 0; i < items.length; i++) { %>
                <tr>
                  <td style="width: 1%; text-align: center;">
                    <%= items[i].txnID %>
                  </td>
                  <td>
                    <%= items[i].name %>
                  </td>
                  
                  <td>
                      <%= siteName ="" %>
                    <% for (var j = 0; j < items2.length; j++) { %>
                    
                      <% if( items[i].siteIDFrom === items2[j].siteID) { %>
                      
                        <%= siteName = items2[j].name %>
                        <% break %>
                      <%} %>

                    <%}%>
                  </td>
                  <td>
                    <%= items[i].status %>
                  </td>
                  <td>
                    <%= items[i].shipDate %>
                  </td>
                  <td>
                    <%= items[i].txnType %>
                  </td>
                  <td>
                    <%= items[i].barCode %>
                  </td>
                  <td>
                    <%= items[i].createdDate %>
                  </td>
                  <td>
                    <%= items[i].deliveryID %>
                  </td>
                  <td>

                    <%if (items[i].emergencyDelivery === 1) { %>
                    Yes
                    <% } else if (items[i].emergencyDelivery === 0) { %>
                    No
                    <% } else {%>
                    N/A
                    <% } %>
                  </td>
                  <% if(userInfo.PositionID <= 4 || userInfo.PositionID === 99999999) { %>
                  <td solspan="2" style="width: 20%; text-align: center;">
                    <% if( items[i].status === "Submitted" || items[i].status === "In Progress") {%>
                    <a href="/orders/update/<%= items[i].txnID %>/<%= items[i].siteIDFrom %>" class="btn btn-success">Edit</a>
                    <a href="/orders/delete/<%= items[i].txnID %>/<%= items[i].siteIDFrom %>" class="btn btn-danger">Cancel</a>
                    <% } else {%>
                    <a href="/orders/update/<%= items[i].txnID %>/<%= items[i].siteIDFrom %>" class="btn btn-success disabled">Edit</a>
                    <a href="/orders/delete/<%= items[i].txnID %>/<%= items[i].siteIDFrom %>" class="btn btn-danger disabled">Cancel</a>
                    <% } %>
                  </td>
                  <% } %>
                </tr>
                <% } %>
              </tbody>
            </table>

            <%} else { %>
            <p><strong>There are no records available.</strong></p>
            <% } %>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
</div>

<% include ../partials/footer %>