<!-- Index page for inventory. Uses header and footer partials -->

<% include ../partials/header %>

<div class="row">

        <% include ../partials/menuDashboard %>

        <script src='/js/filterInv.js' ></script>
        <div class="col-sm-9 col-md-9">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Inventory</h3>
                    <br>
                  </div>
                  <div class="panel-body">

                        <div class="">
                                <div class="col s12 filter">
 
                                        <h4>Search by ID</h4>
                                        <p> <input type="text" class="form-control idInput" maxlength=11 pattern="/d" placeholder="Search by ID"></p>

                                    <h4>Search by Name</h4>
                                    <p> <input type="text" class="form-control nameInput" placeholder="Search by Name"></p>

                                    <h4>Search by Category</h4>
                                    <p><select name="categoryInput" class="form-control categoryInput" placeholder="Search by Category">
                                        <option value="all">All Categories</option>
                                            <% for(var i = 0; i < item3.length; i++) { %>
                                                <option value="<%= item3[i].categoryName %>"><%= item3[i].categoryName %></option>
                                                <% } %>
                                      </select>
                                    </p>

                                    <h4>Search by Quantity</h4>
                                    <p> <input type="number" class="form-control quantityInput" placeholder="Search by Quantity" min=0></p>
                                       
                                </div>
                            </div>
                            <br>
                            
                            <div class="">
                                <div class="col s12">
                                    <% if (item.length > 0) { %>
                                        <table class="table inventory">
                                            <thread>
                                                <tr>
                                                    <th style="text-align: center;">Item ID</th>
                                                    <th>Item Name</th>
                                                    <th>Category</th>
                                                    <th>Site</th>
                                                    <th>Quantity</th>
                                                    <th>Item Location</th>
                                                    <th>Reorder Threshold</th>
                                                    <th>Max Reorder Warning</th>
                                                </tr>
                                            </thread>
                                            <tbody>
                                                <% for(var i = 0; i < item.length; i++) { %>
                                                <tr>
                                                    <td style="width: 1%; text-align: center;"><%= item[i].itemID %></td>
                                                    <td><%= item[i].name %></td>
                                                    <td><%= item[i].category %></td>
                                                    <%= siteName ="" %>
                                                    <td>
                                                        <% for(var j = 0; j < item2.length; j++) { %>
                                                            <% if(item[i].siteID == item2[j].siteID) { %>
                                                                <%= siteName = item2[j].name %>
                                                                <% break %>
                                                            <% } %>
                                                        <% } %>
                                                    </td>
                                                    <td><%= item[i].quantity %></td>
                                                    <td><%= item[i].itemLocation %></td>
                                                    <td><%= item[i].reorderThreshold %></td>
                                                    <td><%= item[i].maxReorderWarning %></td>
                                                </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                            
                                        <%} else { %>
                                        <p><strong>There are no records available.</strong></p>
                                        <% } %>
                                </div>
                            </div>


                    
                    </div>
                  </div>
                </div>
              </div>
            </div>



<% include ../partials/footer %>