<!-- Index page for items. Uses header and footer partials -->

<% include ../partials/header %>

<div class="row">

        <% include ../partials/menuDashboard %>
        <div class="col-sm-9 col-md-9">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Items</h3>
                  </div>
                  <div class="panel-body">

                        <div class="">
                                <div class="col s12">
                                    <a href="/admin/item/add" class="btn btn-success btn-lg">Add a new Item</a>
                                </div>
                            </div>
                            <br>
                            
                            <div class="">
                                <div class="col s12">
                                    <% if (item.length > 0) { %>
                                        <table class="table">
                                            <thread>
                                                <tr>
                                                    <th style="text-align: center;">Item ID</th>
                                                    <th>Name</th>
                                                    <th>SKU</th>
                                                    <th>Description</th>
                                                    <th>Category</th>
                                                    <th>Weight (kg)</th>
                                                    <th>Cost Price</th>
                                                    <th>Retail Price</th>
                                                    <th>Supplier ID</th>
                                                    <th>Active</th>
                                                    <th>Case Size</th>
                                                    <th>Notes</th>
                                                    <th solspan="2" style="width: 20%; text-align: center;">Actions</th>
                                                </tr>
                                            </thread>
                                            <tbody>
                                                <% for(var i = 0; i < item.length; i++) { %>
                                                <tr>
                                                    <td style="width: 1%; text-align: center;"><%= item[i].itemID %></td>
                                                    <td><%= item[i].name %></td>
                                                    <td><%= item[i].sku %></td>
                                                    <td><%= item[i].description %></td>
                                                    <td><%= item[i].category %></td>
                                                    <td><%= item[i].weight %></td>
                                                    <td><%= item[i].costPrice %></td>
                                                    <td><%= item[i].retailPrice %></td>
                                                    <td><%= item[i].supplierID %></td>
                                                    <%= active ="" %>
                                                    <td><% if(item[i].active == 1) {  %>
                                                        <%= active="Yes" %>                                                  
                                                    <% } else { %>
                                                        <%= active="No" %>
                                                    <% } %>
                                                    </td>
                                                    <td><%= item[i].caseSize %></td>
                                                    <td><%= item[i].notes %></td>
                                                    <td solspan="2" style="width: 20%; text-align: center;">
                                                    <a href="/admin/item/update/<%= item[i].itemID %>" class="btn btn-success">Edit</a>
                                                </td>
                                                </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                            
                                        <%} else { %>
                                        <p><strong>There are no records available.</strong></p>
                                        <% } %>
                                </div>
                            </div>


                    
                    </div>
                  </div>
                </div>
              </div>
            </div>



<% include ../partials/footer %>